{% extends "userlayout.html" %}

{% block content %}


<section>
	<div class="gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div id="page-contents" class="row merged20">
						<div class="col-lg-12">


		<div class="main-wraper">
			<div class="user-post">
				<div class="friend-info">
<!--					<figure>-->
<!--&lt;!&ndash;						<em>&ndash;&gt;-->
<!--&lt;!&ndash;<svg style="vertical-align: middle;"  xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path fill="#7fba00" stroke="#7fba00" d="M23,12L20.56,9.22L20.9,5.54L17.29,4.72L15.4,1.54L12,3L8.6,1.54L6.71,4.72L3.1,5.53L3.44,9.21L1,12L3.44,14.78L3.1,18.47L6.71,19.29L8.6,22.47L12,21L15.4,22.46L17.29,19.28L20.9,18.46L20.56,14.78L23,12M10,17L6,13L7.41,11.59L10,14.17L16.59,7.58L18,9L10,17Z"></path></svg></em>&ndash;&gt;-->
<!--&lt;!&ndash;						<img alt="" src="images/resources/user2.jpg">&ndash;&gt;-->
<!--					</figure>-->
					<div class="friend-name">

						<ins><a title="" href="#">Organizer</a> Going Live</ins>

					</div>
					<div class="post-meta">

						<iframe src="https://iframe.dacast.com/live/3d460d87-98ba-a4ea-1140-2d055777f9d2/c4033d70-32e5-e573-11fb-f892b7405587" width="1280px" height="520px" frameborder="0" scrolling="no" allow="autoplay" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>

	</section>

{% endblock %}